
/* cover all */
.cover-all {
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animation-greeting {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 10000;
    color: white;
    display: flex;
    flex-direction: column;
}

.a {
    opacity: 0;
    animation: appear 2s 1s linear forwards;
}

.b {
    opacity: 0;
    animation: appear 2s 2s linear forwards;
}

/* .anim-explan {
    opacity: 0;
    animation: appear 2s 3s linear forwards;
} */

.ex-1 {
    opacity: 0;
    animation: appear 2s 3s linear forwards;
}
.ex-2 {
    opacity: 0;
    animation: appear 2s 4.5s linear forwards;
}
.ex-3 {
    opacity: 0;
    animation: appear 2s 6s linear forwards;
}
.ex-4 {
    opacity: 0;
    animation: appear 2s 7.5s linear forwards;
}
.ex-5 {
    opacity: 0;
    animation: appear 2s 9s linear forwards;
}
.ex-6 {
    opacity: 0;
    animation: appear 2s 10.5s linear forwards;
}




/* background */
.background {
    height: 100%;
    background-image: url("files/images/backgroud.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 8rem;
    border-radius: 1rem;
    margin: 2rem;
    background-color: rgba(70, 70, 70, 0.247);
}

.social-link {
    height: 2rem;
    width: 2rem;
    margin: 1rem;

}

.png-image {
    position: absolute;
    
    bottom: 0;
    height: 100%;
    width: auto;
    right: 50%;
    transform: translateX(50%);
}


/* grid */

.grid {
    display: grid;
    z-index: 5;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.25rem;
    background-color: black;
    padding: 20px 0;
    border-top: 2rem grey solid;
    border-bottom: 2rem grey solid;
    
}

.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.col-2 {
    background-image: url("files/images/high-times.jpg");
    background-size: cover;
    background-position: center; 
}

.col-3 {
    background-color: rgb(128, 32, 123);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.track__grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10rem 3rem;
    grid-template-areas: 
    
    "album-cover details"
    "audio audio";
   
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 0.5rem;
    
}

.grid__album-cover {
    width: 9rem;
    grid-area: album-cover;
}

.grid__song-details {
    grid-area: details;
    text-align: center;
    color: black;
   
}

.grid__song-details h1, .grid__song-details h2 {
    font-size: 1.5rem;
    
}



.grid__audio {
    background-color: black;
    border-radius: 0.5rem;
    grid-area: audio;
}


.events__grid {
    border-bottom: 0.25rem solid black;
    background-color: grey;
    height: 100%;
}

.events__grid h1 {
    color: grey;
    background-color: black;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
}

.events__grid p {
    text-align: center;
    color: red;
    font-size: 1.5rem;
}






.store__grid {
    background-color: white;
    
}

.store__grid h1 {
    color: black;
    background-color: white;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
}

.shop-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.shop-item {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
}



.merch {
    width: 10rem;
    
}



@media (max-width: 50rem) {
    .mobile-top-dark {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.473);
        height: 100vh;
        width: 100vw;
        z-index: 90;
    }
    .social-media-links {
        display: none;
    }

    .cover-all-text {
        right: 50%;
        top: 50%;
        transform: translateX(50%) translateY(-50%);
        text-align: center;
    }
    

}

@media (max-width: 1080px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50rem min-content;
        grid-template-areas: 
        "music poster"
        "events-shop events-shop";
    }

    .col-1 {
        grid-area: music;
        
    }
    .col-2 {
        grid-area: poster;
    }
    
    .col-3 {
        grid-area: events-shop;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "events shop";
    }
    .store__grid {
        grid-area: shop;
    }
    .events__grid {
        grid-area: events;
    }
    
}





@media (max-width: 730px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "songs"
        "poster"
        "events-and-shop";
    }

    .col-1 {
        grid-area: songs;
        
    }

    .col-2 {
        grid-area: poster;
        height: 100vh;
    }
    .col-3 {
        grid-area: events-and-shop;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "events"
        "shop";
    }

    .events__grid {
        grid-area: events;
    }
    .store__grid {
        grid-area: shop;
    }


    
}